<!DOCTYPE HTML>
<html>
<head>
    <title>Sign Up Password Form Widget  Responsive Widget Template | Home :: w3layouts</title>
    <link href="css/style7.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Theme files -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Sign Up Password Form Widget Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!--google fonts-->
    <link href='//fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <script src="js/jquery-2.1.4.min.js"></script>
</head>
<body>
<!-- login -->
<div class="login-section w3l">

                    <h3>CHANGE PASSWORD</h3>
                </div>
                <div class="modal-body modal-spa">
                    <div class="login-form">
                        <form action="/finalreset" method="post">
                            <input type="password" class="lock" name="password" placeholder="New password" required="" />
                            <input type="password" class="lock"  placeholder="Confirm password" required="" />
                            <input type="hidden" value=<%=data[0].email%> name="email" />

                            <input type="submit" value="SUBMIT">
                        </form>
                    </div>
                </div>
            </div>
            <!-- //login -->
            <div class="clear"></div>
        </div>

        <div class="clear"></div>
    </div>
    <p class="footer">© 2016 Sign Up Password Form Widget. All Rights Reserved | Design by <a href="http://w3layouts.com/"> W3layouts</a></p>
</div>

</body>
</html>